<h1 class= "text-white offset-md-2">All Scores</h1>
<div class="container">
	<div class="row">
		<div class="col-2">
			<span class= "text-white">
				<% @scores.each do |score|%>
					<li>
						<%= link_to score.score_output, score_path(score) %> 
					</li>
				<%end%>
			</span>
		</div>
		<div class="col-8">
			<% @scores.each do |score|%>
				<li>
				<%= link_to score.event.title, event_path(score.event) %> 
				</li>
			<%end%>
		</div>
		<div class="col-2">
			<% @scores.each do |score|%>
				<li>
					<%= link_to score.team.name, team_path(score.team) %>
				</li>
			<% end %>
		</div>
	</div>
</div>
<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>