<%= render "form" %>
<br><br>
<div class= "container">
    <div class= "row">
        <div class= "col">
            <%= form_tag("/events/#{@event.id}", method: "delete") do %>
            <%= submit_tag("Delete Event")%>
        </div>
    </div>
</div>
<%end%>